/* define page colours */
:root {
    --customdarkgrey: #2E353A;
    /* get colours with colorzilla */
    --sidelength: 15;
}

.header{
    background-color: var(--customdarkgrey);
    color: white;
}
.settings{
    text-align: center;
    padding: 5px;
}

.field{
    background-color: var(--customdarkgrey);
    display: block;
    margin: auto;
    padding: calc(13px * var(--sidelength) / 40);
    width: fit-content;
    text-align: center;
}

.text{
    position: relative;
    font-size: calc(40px * var(--sidelength) / 40);
    line-height: 0;
    top: calc(-15px * var(--sidelength) / 40);
    z-index: 10;
    color: black;
    text-align: center;
}

.hex{
    background-color: aliceblue;
    box-sizing: border-box;
    position: relative;
    display: inline-block;
    width: calc(71px * var(--sidelength) / 40);
    height: calc(41px * var(--sidelength) / 40);
    margin: calc(10px * var(--sidelength) / 40) 
    /* calc(-1px * var(--sidelength) / 40) */
    0px
    ;
    cursor: pointer;
}

.hex:before, .hex:after {
    background-color: aliceblue;
    box-sizing: border-box;
    position: absolute;
    display: block;
    content: '';
    width: calc(40px * var(--sidelength) / 40);
    height: calc(40px * var(--sidelength) / 40);
    -webkit-transform: rotate(45deg) skew(-15deg, -15deg);
    transform: rotate(45deg) skew(-15deg, -15deg);
}
    
.hex:before {
    top: calc(-20px * var(--sidelength) / 40);
    left: calc(15.5px * var(--sidelength) / 40);
}
    
.hex:after {
    bottom: calc(-20px * var(--sidelength) / 40);
    left: calc(15.5px * var(--sidelength) / 40);
}

.hex:hover{
box-shadow:
 /* 0 0 0 1px rgba(255, 255, 255, 0.03),  */
inset 0 0  calc(7px * var(--sidelength) / 40) calc(-3px * var(--sidelength) / 40) rgba(0, 0, 0, 0.7);
}

.hex:hover:before{
box-shadow:
 /* -1px -1px 0 0 rgba(255, 255, 255, 0.03),  */
inset calc(4px * var(--sidelength) / 40) calc(4px * var(--sidelength) / 40)  calc(-7px * var(--sidelength) / 40) calc(-7px * var(--sidelength) / 40) rgba(0, 0, 0, 0.7);
}

.hex:hover:after{
box-shadow: 
/* -1px -1px 0 0 rgba(255, 255, 255, 0.03),  */
inset calc(-4px * var(--sidelength) / 40) calc(-4px * var(--sidelength) / 40)  calc(7px * var(--sidelength) / 40) calc(-7px * var(--sidelength) / 40) rgba(0, 0, 0, 0.7);
}